.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.imageWrapper {
  min-width: 80px;
  width: 80px;
  border-radius: 0.5rem;
}

.image {
  border-radius: 0.5rem;
}

.textWrapper {
  width: 100%;
}

.removeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
}
