@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600&family=Titan+One&display=swap");

:root {
  --primary: #eeeeee;
  --bg-dark: #112b3c;
  --bg-light: #205375;
  --accent: #f66b0e;
  --font-body: "Poppins", sans-serif;
  --font-heading: "Merriweather", serif;
  --font-brand: "Titan One", cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body) !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: 600;
}

a:hover,
a:active {
  color: var(--accent) !important;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: calc(100vh - 122px);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--bg-light);
  color: var(--primary) !important;
}

.title {
  font-family: var(--font-heading);
  font-weight: 700;
}

.title::after {
  content: '';
  display: block;
  height: 0.25rem;
  width: 100%;
  background-color: var(--accent);
}

.modal-dialog .modal-content {
  background-color: var(--bg-light);
  color: var(--primary);
}

.accordion-button::after {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='20' height='20' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>")
    no-repeat !important;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    padding: 2rem calc(50% - 640px + 4rem);
  }
}
